
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

nav a:hover {
    background-color: #555;
}

.editor{
    text-align: center;
    color: rgb(74, 74, 79);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.movie-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: calc(33.33% - 40px);
}

.movie-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
